# PYTHON

__pycache__/
*.py[cod]
*.pyo
*.pyd


# VIRTUAL ENVIRONMENTS

.venv/
venv/
env/


# NODE.JS

node_modules/
.pnpm-store/
.npm/


# NEXT.JS

.next/
out/


# NESTJS

dist/


# GIT

.git/


# MACOS

.DS_Store


# IDE

.vscode/
.idea/


# TESTING

.pytest_cache/
.coverage
htmlcov/
coverage/


# LOGS

*.log


# ENVIRONMENT VARIABLES

.env
.env.local
.env.development.local
.env.production.local


# TEMP FILES

*.tmp
*.swp
*.swo


# MLFLOW

mlartifacts/

# Uncomment these if you DO NOT want to commit
# the local MLflow database.

# mlflow.db
# mlflow.db-shm
# mlflow.db-wal
# mlruns/


# ML ARTIFACTS

data/
models/


# DOCKER

docker-data/


# OS

Thumbs.db