
# PYTHON

__pycache__/
*.py[cod]
*.pyo
*.pyd


# VIRTUAL ENVIRONMENT

.venv/
venv/
env/


# GIT

.git/


# MACOS

.DS_Store


# IDE

.vscode/
.idea/


# TESTING / CACHE

.pytest_cache/
.coverage
htmlcov/


# LOGS

*.log


# ENVIRONMENT VARIABLES

.env


# TEMPORARY FILES

*.tmp
*.swp
*.swo


# MLflow

mlartifacts/

# Uncomment these if you do NOT want to commit
# MLflow database and artifacts to GitHub.

# mlflow.db
# mlflow.db-shm
# mlflow.db-wal
# mlruns/