# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/
env/

# Git

.git/
.gitignore

# macOS

.DS_Store

# IDE

.vscode/
.idea/

# Testing / Cache

.pytest_cache/
.coverage
htmlcov/

# Logs

*.log

# Environment Variables

.env

# MLflow Cache

mlartifacts/

# Temporary Files

*.tmp
*.swp
*.swo